@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <h2 class="h2 col-12">Оплаты и начисления по договорам</h2>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Договора</h5>
                    @if (User.IsInRole("User"))
                    {
                        <p class="card-text">Список договоров, заключённых Вами с арендодателем.</p>
                    }
                    else
                    {
                        <p class="card-text">Список договоров, заключённых арендаторами с арендодателем.</p>
                    }
                    <a asp-controller="Contracts" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Начисления</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Accruals" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Оплаты</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Payments" asp-action="Index" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
}