@model RoomViewModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Помещение</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomTypeId" asp-items="Model.RoomTypes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label"></label>
                <input asp-for="Square" class="form-control" />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOccupied" /> @Html.DisplayNameFor(model => model.IsOccupied)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncreasingCoefToBaseRate" class="control-label"></label>
                <input asp-for="IncreasingCoefToBaseRate" class="form-control" />
                <span asp-validation-for="IncreasingCoefToBaseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementCoef" class="control-label"></label>
                <input asp-for="PlacementCoef" class="form-control" />
                <span asp-validation-for="PlacementCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComfortCoef" class="control-label"></label>
                <input asp-for="ComfortCoef" class="form-control" />
                <span asp-validation-for="ComfortCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialOrientationCoef" class="control-label"></label>
                <input asp-for="SocialOrientationCoef" class="form-control" />
                <span asp-validation-for="SocialOrientationCoef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
