@model PublicUtilitiesRentManager.WebUI.Models.AccountViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Редактирование";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">Пользователи</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Арендатор</label>
                <select asp-for="TenantId" asp-items="Model.Tenants" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}