@{
    ViewData["Title"] = "Отказано в доступе";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">У Вас недостаточно прав доступа к запрашиваемому ресурсу.</p>
</header>
